* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

.app {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content {
  position: fixed;
  min-height: 80%;
  min-width: 70%;
  background: #000;
  z-index: 1000001;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: #fff;
}

.heading span {
  font-size: 40px;
  color: #eeab2e;
}


.tabs {
  padding: 40px 200px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}


.tab {
  position: relative;
  background: #000;
  padding: 15px;
  width: 800px;
  height: 100px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.tab .title {
  width: 100px;
  height: 20px;
  overflow: hidden;
  color: #fff;
  font-size: 15px;
}

.sub-div {
  position: absolute;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-icon {
  width: 15px;
  height: 15px;
  margin: 10px;
}

.tab input {
  width: 100%;
}

.slider {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
}


.slider::-webkit-slider-runnable-track {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  height: 5px;
}


.slider-container {
  width: 500px;
  position: relative;
}


.slider {
  width: 100%;
  height: 7px;
  border-radius: 3px;
  outline: none;
  -webkit-appearance: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 50px;
  cursor: pointer;
  z-index: 3;
  position: relative;
  bottom: 30px;
}

.thumb {
  height: 100px;
  width: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}

.thumbBtn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  bottom: 3px;
  border: 7px solid #fff;
  background-image: url("icon.png");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffd200;
  z-index: 2;
}

.volume-value {
  width: 30px;
  height: 25px;
  border-radius: 3px;
  background: #ffd200;
  position: absolute;
  top: 30px;
  text-align: center;
  line-height: 25px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}

.volume-value::after {
  content: '';
  border-left: 15px solid #000;
  border-right: 15px solid #000;
  border-top: 7px solid #ffd200;
  position: absolute;
  bottom: -5px;
  left: 0;
}


.progress-bar {
  width: 50%;
  height: 7px;
  background: #ffd200;
  border-radius: 3px;
  position: absolute;
  top: 6.6px;
  left: 0;
}

